.nav {
    display: flex;
    gap: 24px;
    color: black;
    align-items: center;
    opacity: 60%;
}

.nav__link {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.nav__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Styles: Tablet and Mobile */
@media screen and (max-width: 991px) {
    .nav {
        display: none;
    }
}