.container {
    display: flex;
    gap: 24px;
    color: black;
    align-items: center;
    opacity: 60%;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .container {
        display: none;
    }
}